@use '../typography' as *;

.faqs {
	&__title {
		text-align: left;

		h2 {
			margin-left: 0;
		}

		@media only screen and (min-width: 1440px) {
			margin-bottom: 45px;
			text-align: center;

			h2 {
				margin-left: auto;
				line-height: $lh-loose;
			}
		}
	}
}
