@use '../colors' as *;

.not-found {
	&__wrapper {
		padding-top: 25%;
		text-align: center;
	}

	a {
		border-bottom: 1px solid $color-main;
		transition:
			border-color 0.3s ease,
			color 0.3s ease;

		&:hover {
			color: $color-accent;
			border-color: $color-accent;
		}
	}
}
