@use './colors' as *;
@use './vars' as *;
@use './typography' as *;

::-webkit-scrollbar {
	width: 4px;
	background: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background: $color-gray;
	border-radius: 3px;
	transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: $color-dark-gray;
}

small {
	font-size: $fs-xxs;
	line-height: $lh-relaxed;
}

html {
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-width: 375px;
	background-color: $color-bg;
	color: $color-main;
	font-size: 16px;
}

h1 {
	font-size: $fs-3xl;
	line-height: $lh-tightest;
	font-weight: 500;

	@media only screen and (min-width: 768px) {
		font-size: $fs-4xl;
	}

	@media only screen and (min-width: 1280px) {
		font-size: $fs-5xl;
	}

	@media only screen and (min-width: 1440px) {
		font-size: $fs-6xl;
	}
}

h2 {
	font-size: $fs-xl;
	line-height: $lh-tightest;
	font-weight: 500;

	@media only screen and (min-width: 768px) {
		font-size: $fs-3xl;
	}

	@media only screen and (min-width: 1280px) {
		font-size: $fs-4xl;
	}

	@media only screen and (min-width: 1440px) {
		font-size: $fs-5xl;
	}
}

p {
	font-size: $fs-sm;
	@media only screen and (min-width: 1280px) {
		font-size: $fs-base;
	}
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	padding: 0 16px;

	@media only screen and (min-width: 768px) {
		padding: 0 32px;
	}
}

.main {
	flex-grow: 1;
	margin-top: var(--header-height);
}

.section {
	scroll-margin-top: var(--header-height);
	margin-bottom: 70px;

	@media only screen and (min-width: 768px) {
		margin-bottom: 100px;
	}

	@media only screen and (min-width: 1280px) {
		margin-bottom: 145px;
	}

	&__title {
		margin-bottom: 20px;
		text-align: center;

		@media only screen and (min-width: 1280px) {
			margin-bottom: 40px;
		}
	}
}
