$header-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

:root {
	--header-height: 61px;
}

@media (min-width: 768px) {
	:root {
		--header-height: 48px;
	}
}

@media (min-width: 992px) {
	:root {
		--header-height: 67px;
	}
}
